node_modules/
.pnpm-store/

.nuxt/
.output/
dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.vscode/

.env
.env.*.local
*.local

.cache/

.DS_Store
Thumbs.db
.idea/
*.swp
*.swo

.AppleDouble
.LSOverride

.docker/

public/

*.d.ts
